<div class="row mr0">
        <div  class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="
           padding: 15px;
           background: #fff;
           border-radius: 5px;
           margin-top: 40px;
           ">
           <h4 class="text-center">Login to Your Account</h4>
           <hr>
           <form  [formGroup]="loginForm">
            
            <div class="form-group has-error">
               <input type="email" class="form-control input-lg br3" placeholder="Email Address" formControlName="email" required>
               <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="error-msg">
                <div [hidden]="!loginForm.controls['email'].errors.required"  class="help-block">Email is required.</div>
                <!-- <div [hidden]="!loginForm.controls['email'].errors.patternInvalid"  class="help-block">Email is invalid.</div> -->
              </div>
              </div>

            <div class="form-group">
               <input type="password" class="form-control input-lg br3" placeholder="Password" formControlName="password" required>
               <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
                <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
              </div>
              </div>
            <button type="submit" class="btn btn-warning btn-block btn-lg br0" [disabled]="loginForm.invalid" (click)="login()"> 
                <!-- <i class="fa fa-sign-in"></i>  -->
                Log In</button>
                <div class=" mrTp20">
                    <a class="pull-left" href="#">Create an account</a> <a class="pull-right" href="#">Forgot Password</a>
                  </div>
          </form>
        </div>
     </div>
     <div>

       