<table class="table table-bordered">
 <thead>
   <tr><th>Course</th><th>Factulty</th><th>Date</th><th>Time</th><th>Duration</th><th>Views</th><th>Venue</th></tr>
 </thead>
 <tbody>
   <tr>
<td>da</td>
<td>sdf</td>
<td>fsee</td>
<td>dfgjkfgk</td>
<td>rtre</td>
<td>dfksjkf</td>
<td>qwewq</td>
   </tr>
   <tr>
      <td>da</td>
      <td>sdf</td>
      <td>fsee</td>
      <td>dfgjkfgk</td>
      <td>rtre</td>
      <td>dfksjkf</td>
      <td>qwewq</td>
         </tr>
         <tr>
            <td>da</td>
            <td>sdf</td>
            <td>fsee</td>
            <td>dfgjkfgk</td>
            <td>rtre</td>
            <td>dfksjkf</td>
            <td>qwewq</td>
               </tr>
 </tbody>
</table>