<div class="thumbnail">
    <img src="../../../assets/images/tutor-icon.jpg" alt="...">
    <div class="caption">
      <h4>{{course.course}}</h4>
      <p style="font-weight:bold;color:#00BCD4;">{{course.institute}}</p>
      <p><i class="fa fa-calendar"></i>  14th March @ 6 PM | 45 days</p>
      <p>
        <i class="fa fa-star" *ngFor="let star of stars" [ngClass]="{'active':star <=course.rating}"></i>
        
        -  {{course.views}} reviews </p>
      <div class="row" style="margin:0px -13px -13px">
        <a href="#" class="col-xs-6 btn btn-default br0" role="button">DETAILS</a> 
        <a href="#" class=" col-xs-6 btn btn-warning br0" role="button">ADD</a>
      </div>
    </div>
  </div>