<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
         <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-copyright" aria-hidden="true"> </i> {{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ><a [routerLink]="['list']">list</a></li>
        <li><a [routerLink]="['details']">Details</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['candidateLogin']" ><i class="fa fa-user" aria-hidden="true"> </i> Candidate login</a></li>
        <li><a [routerLink]="['instituteLogin']"><i class="fa fa-suitcase" aria-hidden="true"> </i> Institute login</a></li>
       </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<router-outlet></router-outlet>

