<div class="container">
        <div class="row">
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      <div class="col-sm-4 col-md-3"><CourseList></CourseList></div>
      
        </div>
      </div>