<div class="row mr0">
        <div  class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="
           padding: 15px;
           background: #fff;
           border-radius: 5px;
           margin-top: 40px;
           ">
           <h4 class="text-center">Please Sign Up <small>It's free and always will be.</small></h4>
           <hr>
           <form [formGroup]="loginForm3">
              <div class="form-group">
                  <input type="text" class="form-control input-lg br3" placeholder="Institute Name">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control input-lg br3" placeholder="Contact Person Name">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control input-lg br3" placeholder="Mobile Number">
               </div>
              <div class="form-group">
                 <input type="email" class="form-control input-lg br3" placeholder="Email Address">
              </div>
              <div class="form-group">
                 <input type="password" class="form-control input-lg br3" placeholder="Password">
              </div>
              <div class="form-group">
                 <input type="password" class="form-control input-lg br3" placeholder="Confirm Password">
              </div>
              
              
              <div class="row">
                 <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                       <select class="form-control input-lg br3">
                          <option>Country</option>
                       </select>
                    </div>
                 </div>
                 <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                       <select class="form-control input-lg br3">
                          <option>State</option>
                       </select>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                       <select class="form-control input-lg br3">
                          <option>City</option>
                       </select>
                    </div>
                 </div>
                 <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                       <input type="text" class="form-control input-lg br3" placeholder="Pincode">
                    </div>
                 </div>
              </div>
              
              <button type="submit" class="btn btn-warning btn-block btn-lg br0">
                 <!-- <i aria-hidden="true" class="fa fa-user-plus"> </i> -->
                  Sign Up</button>
                  <div class="row">
                
                        <div class="col-xs-12 mrTp20">
                               <small> By signing up to create an account I accept Coursepoint's Terms of Use and Privacy Policy.</small> 
                        </div>
                    </div>
           </form>
        </div>
     </div>
     <div>

       