header.masthead {
    position: relative;
     background-color: #fff;
    background: url("../../assets/images/bg2.jpg") no-repeat center center; 
    /* background: linear-gradient(45deg, #ff3366, #332a68); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
  }
  
  header.masthead h1 {
    font-size: 34px;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 190px;
      padding-bottom: 190px;
    }
    header.masthead h1 {
      font-size: 50px;
      color:#f7931e;
    }
  }