<!-- Masthead -->
<header class="masthead text-white text-center">
    
    <div class="container" style="background:rgba(255,255,255,.8);color:#444;padding:20px;">
      <div class="row mr0">
         <h1 class="mb-5">Search Course from best Instistutes near you</h1>
        <!-- <h3>Order food online from the best restaurants near you</h3> -->
        </div>
        <div class="row mr0">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-3 pad0">
                <select class="form-control input-lg br0" >
                    <option value="">Select Location</option>
                    <option value="">Hyderabad</option>
                    <option value="">Pune</option>
                    <option value="">Bangalore</option>
                </select>
              </div>
              <div class="col-12 col-md-6 pad0">
                <input type="email" class="form-control input-lg br0" placeholder="Enter Course.">
              </div>
              <div class="col-12 col-md-3 pad0">
                <button type="submit" class="btn btn-lg btn-block btn-success br0"> <i class="fa fa-search" aria-hidden="true"> </i> Search</button>
              </div>
            </div>
          </form>
      
      </div>
    </div>
    <!-- <div class="overlay"></div> -->
  </header>